<h1>Contacts</h1>

<table class="table table-striped">
  <thead>
    <tr><th>Name</th><th>Email</th><th>Organization</th><th>Best</th><th>Worst</th><th>Actions</th></tr>
  </thead>
  <tbody>
    <% @contacts.each do |c| %>
      <tr>
        <td><%= c.name %></td>
        <td><%= c.email %></td>
        <td><%= c.organization&.name %></td>
        <td><%= c.best_portfolio&.performance %></td>
        <td><%= c.worst_portfolio&.performance %></td>
        <td>
          <%= link_to 'Show', contact_path(c), class: 'btn btn-sm btn-outline-primary' %>
          <div class="d-inline-block ms-2">
            <%= form_with url: send_email_simulation_contact_path(c), method: :post, local: true, class: 'd-inline' do |f| %>
              <select name="template_id" class="form-select form-select-sm d-inline" style="width:220px;display:inline-block">
                <option value=''>-- select template --</option>
                <% @templates.each do |t| %>
                  <option value='<%= t.id %>'><%= t.name %></option>
                <% end %>
              </select>
              <button type="submit" class="btn btn-sm btn-primary">Send</button>
            <% end %>
          </div>
          <br/>
          <%= link_to 'Preview (first template)', preview_email_contact_path(c, template_id: (@templates.first&.id)), target: '_blank', class: 'btn btn-sm btn-secondary mt-2' %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>
