<h1>Email Templates</h1>
<%= link_to 'New Template', new_email_template_path %>
<ul>
  <% @templates.each do |t| %>
    <li>
      <%= t.name %> -
      <%= link_to 'View', email_template_path(t) %> |
      <%= link_to 'Edit', edit_email_template_path(t) %> |
      <%= link_to 'Delete', email_template_path(t), method: :delete, data: { confirm: 'Are you sure?' } %> |
      <%= link_to 'Preview', preview_email_template_path(t), target: '_blank' %>
    </li>
  <% end %>
</ul>
